.information__container {
  width: 28rem;
  padding: 2.6rem 2rem 2.4rem 2rem;
}

.information__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: #000000;
  margin-bottom: 3.5rem;
}

.informtion__label {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: #444444;
}

.information__control {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 1.4rem;
  padding: 1.4rem -2rem 1.5rem 1.5rem;
}
