html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
div {
  padding: 0;
  margin: 0;
}

fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
}

.page__body {
  width: 32rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .page__body {
    width: 76.8rem;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .page__body {
    width: 144rem;
    margin: 0 auto;
    margin-right: 0;
    margin-left: 0;
  }
}
