.promo__container {
  width: 28rem;
  padding: 2.7rem 2rem 0 2rem;
  margin-bottom: 2rem;
}

.promo__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 3.6rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 2.5rem;
}

.promo__slogan {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 2.9rem;
}

.promo__image {
  margin-bottom: 0.3rem;
}

.promo__button {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #68b738;
}
